<!-- /views/partials/footer.ejs -->
<div class="footer" id="footer">
    <div class="container">
        <ul class=" pull-left navbar-link footer-nav">
            <li><a href="/"> Home </a> <a href="#"> Sobre </a> <a href="#"> Ajuda </a> <a href="#"> Contato </a>                <a href="#"> FAQ </a>
        </ul>
        <ul class=" pull-right navbar-link footer-nav">
            <li> &copy; 2017 Extreme Digital Solutions</li>
        </ul>
    </div>
</div>
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Confirmar Exclusão</h4>
                </div>
            
                <div class="modal-body">
                    <p>Tem certeza que deseja excluir este item? Esta operação não pode ser desfeita.</p>
                    <p class="debug-id"></p>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-danger btn-ok">Delete</a>
                </div>
            </div>
        </div>
    </div>