<div class="col-sm-2 page-sidebar mobile-filter-sidebar">
    <aside>
        <div class="inner-box" id="left-menu">
            <div id="filter_theme" class="list-filter">
                <h5 class="list-title"><strong><a href="#">Parâmetros</a></strong></h5>
                <div class="filter-date filter-content">
                    <div class="loader" style="display: none;"></div>
                    <ul id="theme_list" class="menu-tema">
                        <li class="selected"><a href="#" onclick="changeForm({id:'sync',th:this})" >Sincronização de Dados</a></li>
                        <li><a href="#" onclick="changeForm({id:'confs-chatbot',th:this})" >Configurações do Chatbot</a></li>
                    </ul>
                </div>
            </div>
            <div style="clear:both"></div>
        </div>
    </aside>
</div>