<!-- Modal Genérico: modal.ejs -->
<div class="modal fade" id="genericModal" tabindex="-1" role="dialog" aria-labelledby="genericModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="genericModalLabel"><!-- TITULO --></h3>
                </div>
                <div class="modal-body">
                <!-- MODAL BODY -->                      
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    <!-- <button id="save_intent" type="button" class="btn btn-primary">Salvar Intenção</button> -->
                </div>
            </div>
        </div>
    </div>
    