<!DOCTYPE html>
<html lang="pt-br">
<head>
</head> 
<!-- HEAD EJS -->
</head>
<body>
<div id="wrapper">
<!-- TOP EJS -->



<div class="main-container">
<div class="container">
<div class="row">
 
<div class="col-sm-3 page-sidebar mobile-filter-sidebar">
<aside>
<div class="inner-box">
<div id="filter_time" class=" list-filter">
<h5 class="list-title"><strong><a href="#">Temas</a></strong></h5>
<div class="filter-date filter-content">
<div class="menu-tema">
<a href="#">SENAI - Cursos Tecnicos<span class="badge"></span></a><br>
<a href="#">SENAI - Institucional<span class="badge"> 3</span></a><br>
<a href="#">SENAI - Eventos<span class="badge"></span></a><br>
<a href="#">SESI - Academias<span class="badge"></span></a><br>
<a href="#">SESI - Serviços<span class="badge"></span></a><br>
<a href="#">SESI - Saúde<span class="badge"></span></a><br>
</div>
</div>
</div>
 
<div id="filter_decision" class="list-filter">
  <div class="filter-content filter-employment-type">
  <ul class="browse-list list-unstyled">
</ul>
</div>
</div>
 
<div id="filter_judge" class="  list-filter">
  <div class="filter-salary filter-content ">
  <ul class="mt15"></ul>
</div>
<div style="clear:both"></div>
</div>
 

<div id="filter_location" class="locations-list  list-filter">
  <ul class="browse-list list-unstyled long-list">
  </ul>
</div>
 
<div style="clear:both"></div>
</div>
 
</aside>
</div>
<!-- pesquisa -->

<div class="col-sm-6">
<input class="form-control input-lg keyword" type="text" placeholder="Perguntas...">
<div style="margin-top:10px; height:200px"> 
<div class="form-control input-lgarea keyword " style="height:400px">
<ul class="">
  <li>o que é SENAI</li>
  <li>onde fica o SENAI</li>
  <li>qual o objetivo do SENAI</li>
</ul>
</div> </div>
</div>
<div class="col-sm-3">
<button id="send-item" class="btn btn-primary"> Enviar <i class="fa"></i></button>
</div>


<!-- fim da pesquisa -->
</div>
</div>
</div>
 
<!-- FOOTER EJS -->

</div>
 
<!-- FOOTER SCRIPTS EJS -->
 
<script src="assets/js/script.js"></script>

<script src="/app/eds_script.js"></script>
</body>
</html>
