<!DOCTYPE html>
<html lang="pt-br">
<head>
    <% include ../partials/head %>

    <style>
        #salvar-btns {display:none;}
        #editar-btn {display:block;}

        .select-hour, .select-minute {width:47%;}
        .form-schedule select.form-control {display:inline-block;}
    </style>

</head>
<body>
    <div id="wrapper">
        <% include ../partials/top %>


        <div class="main-container">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-2 page-sidebar mobile-filter-sidebar">
                        <aside>
                            <div class="inner-box">
                                <div id="filter_theme" class=" list-filter">
                                    <h5 class="list-title"><strong><a href="#">Parâmetros</a></strong></h5>
                                    <div class="filter-date filter-content">
                                        <div class="loader" style="display: none;"></div>
                                        <ul id="theme_list" class="menu-tema">
                                            <li class="selected"><a href="#" class="app-selectTheme">Sincronização de Dados</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div style="clear:both"></div>
                            </div>
                        </aside>
                    </div>
                    <div id="filter_intent" class="col-sm-2 page-sidebar mobile-filter-sidebar">

                    </div>
                    <!-- Answers -->
                    <div id="answers" class="col-sm-9">
                        <h1>Agendar Sincronização de Dados</h1>
                        <div id="alert" class="hide"></div>
                        <form role="form" onsubmit="return false" class="form-schedule">
                            <fieldset disabled="" class="editing">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Executar à cada</label>
                                        <div class="input-group">
                                            <input class="form-control" style="font-size:1.5em" id="interval" type="text">
                                            <div class="input-group-btn btn-dropdown-change" id="interval_unit">
                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span>Minutos </span><span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu pull-right">
                                                    <li><a href="#" data-value="min">Minutos</a></li>
                                                    <li><a href="#" data-value="hour">Horas</a></li>
                                                    <li><a href="#" data-value="day">Dias</a></li>
                                                </ul>
                                            </div><!-- /btn-group -->
                                        </div><!-- /input-group --><!-- /input-group -->
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="disabledSelect">Início</label>
                                        <div>
                                            <select class="select-hour form-control" id="beginHour" style="font-size:1.5em">
                                                <option>00</option>
                                            </select> :
                                            <select class="select-minute form-control" id="beginMinute" style="font-size:1.5em">
                                                <option>59</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="disabledSelect">Fim</label>
                                        <div>
                                            <select class="select-hour form-control" id="endHour" style="font-size:1.5em">
                                                <option>00</option>
                                            </select> :
                                            <select class="select-minute form-control" id="endMinute" style="font-size:1.5em">
                                                <option>59</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <br>
                                    <div class="checkbox checkbox-primary">
                                        <input type="checkbox" id="schedule_ativo"><label for="schedule_ativo">Ativo</label>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <p id="salvar-btns" class="editing">
                                    <button type="button" onclick="saveSchedule()" class="btn btn-primary">Salvar</button>
                                    <button type="button" onclick="toggleEditSave()" class="btn">Cancelar</button>
                                </p>
                                <p id="editar-btn">
                                    <button type="button" onclick="toggleEditSave()" class="btn">Editar</button>
                                </p>
                            </fieldset>
                        </form>
                        <h5 class="list-title"><strong><a href="#">Log de Execução</a></strong></h5>

                        <div class="item_list" id="log_list">
                            <div style="display: none;"></div>
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>Data/Hora</th>
                                        <th>Mensagem</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody style="font-size:0.8em">
                                  
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- fim da pesquisa -->
                </div>
            </div>
        </div>


        <% include ../partials/modal %>
        <% include ../partials/footer %>
    </div>
    
    <% include ../partials/footer_scripts %>

    <script>
        // global [inicio]
        function cover($obj,params) {
            $obj.css({'position':'relative'});
            var $cover=$('<div class="cover1"><div class="cover1-inner"><span class="cover1-inner2 fa fa-spin"><span class="icon-cw"></span></span></div></div>');
            $obj.prepend($cover);

            return function() {
                $cover.remove();
            }
        }

        var padNum=function(num) {
            if(parseInt(num)<10) {
                num='0'+num;
            }
            return num;
        }
        // global [fim]


        // salva agendamento
        function saveSchedule() {
            var interval=$('#interval').val();
            var beginHour=$('#beginHour').val();
            var beginMinute=$('#beginMinute').val();
            var endHour=$('#endHour').val();
            var endMinute=$('#endMinute').val();
            var schedule_ativo=$('#schedule_ativo').prop('checked') ? 1 : 0;
            
            var arrCond=[beginHour,beginMinute,endHour,endMinute];
            var verCond=0;
            arrCond.forEach(function(elem) {
                if(parseInt(elem)>-1) {
                    verCond++;
                }
            });
            if(verCond > 0 && verCond < 4) {
                // a condição não foi corretamente preenchida;
                return alertPopover('Informe corretamente a condição de execução selecionando os 4 combos de hora/minuto em "Início" e "fim!', 'warning');
            }
            var cond=[{hour:beginHour,min:beginMinute},{hour:endHour,min:endMinute}];
            if(!verCond) {
                cond=null;
            }
            
            // unit
            var unit=$('#interval_unit').data('value');
            var toSave={
                _id:scheduleData._id,
                _rev:scheduleData._rev,
                schedule:{
                    interval:{
                        value:interval,
                        unit:unit,
                        cond:cond
                    },
                    on:schedule_ativo,
                }
            }
            toSave={objSchedule:toSave}
            toSave=JSON.stringify(toSave);

            var url=baseURL+'api/scheduler';
            var coverForm=cover($('fieldset.editing').eq(0));
            $.ajax(url,{method:'POST',dataType:'json',contentType:'application/json',data:toSave})
                .done(function(data) {
                    // console.log('saving ret:',data);
                    coverForm();
                    scheduleData._rev=data._rev;
                    return alertPopover('Agendamento salvo com sucesso!', 'success',{closeDelay:5000});
                })
                .fail(function(err) {
                    if(err) {
                        var error=err.responseJSON;
                        alertPopover(error.error, 'danger',{closeDelay:-1});
                    }
                });
        } // saveSchedule


        /*
            lista o agendamento
        */
        var scheduleData={_id:0,_rev:0}
        function getSchedule(params) {
            if(!params) params={}
            var selector=JSON.stringify({"schedule.task":"syncCourses"});
            var url=baseURL+'api/scheduler?selector='+selector;

            var coverForm=cover($('fieldset.editing').eq(0));
            // var coverLog=cover($('div.item_list').eq(0));
            

            $.ajax(url,{method:'GET',dateType:'json'})
                .done(function(data) {
                    // console.log('data',data);
                    var schedule=data.schedules;
                    coverForm();
                    if(!schedule.length) {
                        // nada encontrado
                        return alertPopover('Não há tarefas!', 'success');
                    }
                    schedule=schedule[0];
                    var interval=parseInt(schedule.schedule.interval.value);
                    var unit=schedule.schedule.interval.unit || 'min';
                    var cond=schedule.schedule.interval.cond;
                    var lastExec=schedule.schedule.lastExec;
                    var on=!!schedule.schedule.on;
                    var status=schedule.schedule.status;
                    var lastExec=schedule.schedule.lastExec;
                    
                    // intervalo p/ execução
                    var beginHour='-1';
                    var beginMinute='-1';
                    var endHour='-1';
                    var endMinute='-1';
                    if(cond && cond.length) {
                        beginHour=cond[0].hour;
                        beginMinute=cond[0].min;
                        endHour=cond[1].hour;
                        endMinute=cond[1].min;
                    }


                    // filling fields
                    $('#interval').val(interval);
                    $('#beginHour').val(beginHour);
                    $('#beginMinute').val(beginMinute);
                    $('#endHour').val(endHour);
                    $('#endMinute').val(endMinute);
                    $('#schedule_ativo').prop('checked',on);
                    // unit
                    $('body').trigger('change-dropdown',{id:'interval_unit',value:unit});


                    var _id=schedule._id;
                    var _rev=schedule._rev;
                    scheduleData._id=_id;
                    scheduleData._rev=_rev;

                })
                .fail(function(err) {
                    console.log(err);
                    
                    coverForm();
                });
        } // getSchedule

        // lista os logs dessa tarefa (syncCourses)
        function getLogs() {
            var url=baseURL+'api/scheduler-logs?selector={"task":"syncCourses"}&sort=[{"time:number":"desc"}]';

            var $divLog=$('#log_list');
            var coverLogList=cover($divLog);
            return $.ajax(url,{method:'GET',dataType:'json',contentType:'application/json'})
                .done(function(data) {
                    var docs=data.docs;
                    var $trs=[];
                    docs.forEach(function(elem) {
                        var status=elem.status;
                        var class1='success';
                        if(status != class1) {
                            class1='danger';
                        }
                        var time=elem.time;
                        var dt=new Date(time);
                        var data_hora_str=padNum(dt.getDate())+'/'+padNum((dt.getMonth()+1))+'/'+dt.getFullYear()+' '+padNum(dt.getHours())+':'+padNum(dt.getMinutes())+':'+padNum(dt.getSeconds());
                        var msg=elem.msg;

                        var $tr=$('<tr />').attr('class',class1);

                        var $tdData=$('<td />').text(data_hora_str);
                        var $tdMsg=$('<td />').text(status);
                        var $tdStatus=$('<td />').text(msg);
                        
                        $tr.append($tdData,$tdMsg,$tdStatus);
                        $trs.push($tr);
                    });
                    $divLog.children('table').children('tbody').html($trs);
                    return coverLogList();
                })
                .fail(function(err) {
                    coverLogList();
                    
                });
        }


        getSchedule();
        getLogs();

        var minutes_options='<option value="-1"> --Minuto-- </option>';
        var hours_options='<option value="-1"> --Hora-- </option>';
        for(var i=1;i<60;i++) {
            minutes_options+='<option value="'+padNum(i)+'">'+padNum(i)+'</option>';
        }
        for(i=0;i<=23;i++) {
            hours_options+='<option value="'+padNum(i)+'">'+padNum(i)+'</option>';

        }

        $('.select-hour').html(hours_options);
        $('.select-minute').html(minutes_options);
        function toggleEditSave() {
            var disabled=false;
            if($('#salvar-btns').css('display')=='block') {
                $('#salvar-btns').hide();
                $('#editar-btn').show();
                disabled=true;
            } else {
                $('#salvar-btns').show();
                $('#editar-btn').hide();
            }
            $('.editing').prop('disabled',disabled);
        }


    </script>

    </body>
</html>
